/* Shared or Universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    color: #001931;
}
button:hover{
    cursor: pointer;
}
/* Single styles */

/* Navigation section styling starts */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
    background: #fff;
}
nav .logo:hover{
    cursor: pointer;
}
.navigations ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 32px;
}
.navigations ul a{
    text-decoration: none;
    color: #000;

}
.navigations ul a:hover {
    color: #30B868;
}
.earlyButton button{
    width: 164px;
    padding: 12px 16px 12px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #469165;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.earlyButton button:hover{
    cursor: pointer;
    color: #000;
}
/* Navigation styling ends */

/* Hero section styling starts */
#heroSection{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 116px;
    padding-bottom: 179px;
}
#heroSection .earlyAcc{
    display: flex;
    gap: 6px;
    background: #ffff;
    width: 229px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
}
#heroSection .earlyAcc p{
    color: #30B868;
    font-size: 16px;
}

.heroHeadings{
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.heroHeadings .greenHeading{
    color: #30B868;
}
.heroTexts{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}
.heroTexts p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}
.heroButtons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.heroButtons .startBuildingBtn{
    background: #469165;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 16.5px;
    border-radius: 5px;
}
.heroButtons .startBuildingBtn:hover{
    color: #000;
}
.heroButtons .TutorialBtn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 16.5px;
    border-radius: 5px;
}
.heroButtons .TutorialBtn:hover{
    color: #469165;
}
/* Hero section styling ends */

/* Notes section stying starts */
#notesSection{
    background: #fbfbfb;
    padding-top: 120px;
    padding-bottom: 60px;
}
.notesInfo{
    text-align: center;
    margin-bottom: 44px;
}
#notesSection .notesInfo h1{
    font-size: 52px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#notesSection .notesInfo p{
    font-size: 16px;
    color: #627382;
}

.notesInfoCards{
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.notesInfoCards .cards{
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 69.5px 24px;
}

.notesInfoCards .cards h3{
    font-size: 24px;
    margin-bottom: 16px;
    border-radius: 10px;

}
.cards .imageBg{
    width: 60px;
    height: 60px;
    background: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}
/* SecondBrain Section styling starts */
#secondBrain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 120px;
}
#secondBrain .secondBrainInfos{
    width: 530px;
}
.secondBrainInfos h5{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.secondBrainInfos h1{
    font-size: 48px;
    margin-bottom: 16px
}
.secondBrainInfos .brainTexts{
    color: #627382;
    margin-bottom: 40px;
}

.secondBrainInfos .tickParas .ticks{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
/* Second Brain section styling ends */

/* Early Access section styling Starts */
#earlyAccSection {
    max-width: 1340px;
    background: #fbfbfb;
    margin: 0 auto;
    text-align: center;
    padding: 80px 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}

#earlyAccSection h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

#earlyAccSection p {
    font-size: 16px;
    color: #627382;
    line-break: 24px;
}

#earlyAccSection button {
     color: #fff;
     background: #469165;
     font-size: 16px;
     font-weight: 500;
     border: none;
     border-radius: 5px;
     padding: 16px;
     margin: 24px 0 16px;
}
.earlyAccInfos{
    width: 640px;
}
#earlyAccSection button:hover{
    color: #000;
}
/* Early Access styling ends */

/* Footer styling starts */
footer{
    background: #001931;
    padding: 120px 120px 30px;
}
.footerItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    color: #fff;
}
.socials p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}
.socialIcons{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.copyRightItems{
    margin-top: 80px;
    color: #fff;
    text-align: center;
}

.copyRightItems hr{
    margin-bottom: 30px;
    opacity: 20%;
}
.copyRightItems p{
    font-size: 16px;
    color: #fafafa;
    line-height: 24px;
    font-weight: 300;
}
.footLogo:hover{
    cursor: pointer;
}
.icons:hover{
    cursor: pointer;
}