/* Shared or Universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background: #fbfbfb;
}
button:hover{
    cursor: pointer;
}
/* Single styles */

/* Navigation section styling starts */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
    background: #fff;
}

.navigations ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    gap: 32px;
}
.navigations ul a{
    text-decoration: none;
    color: #000;

}
.navigations ul a:hover {
    color: #30B868;
}
.earlyButton button{
    width: 164px;
    padding: 12px 16px 12px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #469165;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.earlyButton button:hover{
    cursor: pointer;
    color: #000;
}
/* Navigation styling ends */

/* Hero section styling starts */
#heroSection{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 116px;
    padding-bottom: 179px;
}
#heroSection .earlyAcc{
    display: flex;
    gap: 6px;
    background: #ffff;
    width: 229px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
}
#heroSection .earlyAcc p{
    color: #30B868;
    font-size: 16px;
}

.heroHeadings{
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.heroHeadings .greenHeading{
    color: #30B868;
}
.heroTexts{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}
.heroTexts p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}
.heroButtons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.heroButtons .startBuildingBtn{
    background: #469165;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 16.5px;
    border-radius: 5px;
}
.heroButtons .TutorialBtn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 16.5px;
    border-radius: 5px;
}